<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
    <link rel="stylesheet" href="../../bootstrap.min.css">
    <link rel="stylesheet" href="../../style.css">
</head>
<body>
    <th:block th:include="~{fragments/navbar}"></th:block>
    <div class="jumbotron col-sm-11 m-auto">
        <h1>Delete Virus!</h1>
        <hr/>
        <form th:action="@{/viruses/delete/{id}(id=${virusDto.id})}" method="post"></form>
        <th:block th:include="~{fragments/virus-form}"></th:block>
    </div>
    <script>
        $("#virus-form :input").prop("disabled", true);
        $("#submitButton").text("Delete!");
        $("#submitButton").addClass("btn btn-danger");
        $("#submitButton").prop("disabled", false);
    </script>
</body>
</html>